.bg-navbar {
    background: #E8871E;
}

body {
    background-color:;

}



.container {
    margin-top: 3%;
    
}


.box {
    background-color: #EBF5DF; 
    min-height: 500px;
}


/*GUNS GUNS GUNS header*/
h1 {
    color:#F4d58d;
    font-family: Arial, Helvetica, sans-serif;
    background: #697268;
    padding-top: 0px; 
    padding-bottom: 2px; 
    text-align: left;
    
} 


/*Gun Violence Epidemic header*/
.gunviolence {
  
  color: #00203d;
  text-align: left;
  font-size: 45px;
  font-family: "Courier New";
  
}
    
h3 {
    text-align: center;
}

/*Click an icon header*/
h4 {
  color: #00203d;
}

/*Clickable Links Below Icons*/
h4.landing {
    text-align: center;
    color: #00203d;
           
}


IMG.panel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%; 
    padding-top: 2%;
    width: 200px;
    height: 200px;
    z-index: 2;
       

}


p.copyright {
    color: grey;
    text-align: center;
    vertical-align: baseline;
    margin-top: 3%;
    
}
footer {
  display:flex;
  background-color: #697268;
  color: #F4d58d;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid white;
  justify-content:center;
     align-items:center;
}

.links {
  color:#F4d58d;
  text-decoration: none;
}

.links:hover {
  color:#F4d58d;
}

html,
body,
#map-id {
    height: 100%;
    padding: 0;
    margin:0;}
    
    #wheelOfFortune {
        display: inline-block;
        position: relative;
        overflow: hidden;
      }
      
      #wheel {
        display: block;
      }
      
      #spin {
        font: 2.0em/0 sans-serif;
        user-select: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30%;
        height: 30%;
        margin: -15%;
        background: #fff;
        color: #fff;
        box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        transition: 0.8s;
      }
      
      #spin::after {
        content: "";
        position: absolute;
        top: -17px;
        border: 10px solid transparent;
        border-bottom-color: currentColor;
        border-top: none;
      }
      .panel2 {
        color: yellow;
      }
      /* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  #map,
  body,
  html {
    height: 100%;
  }
  
  h1 {
    text-align: center;
  }
  