<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project 3</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Gun Related Death</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="well">
         
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Gun Violence Charts:</h3>
            <P>This charts examined 50 US states and the District of Columbia from January 1, 2019, to September 22, 2022. 
              Statistical analysis was performed from September to October 2022</P>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>

      <div class="col-md-12">
        <canvas id="bar-chart" style="width:100%;max-width:1200px"></canvas>
      </div>
      
    </div>
    <div class="row">
      <div class="col-md-12">
        <canvas id="line-chart" style="width:100%;max-width:1200px"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4>
          <center>Death by Party Affiliations</center>
        </h4>
        <div id="canvas-holder" style="float:left;">
          <center>AccidentalDeath</center>
        <canvas id="pie-chart" style="width:100%;max-width:500px"></canvas>
        </div>
        <div id="canvas-holder" style="float:left;">
          <center>MassShootingDeath</center>
        <canvas id="pie-chart2" style="width:100%;max-width:500px"></canvas>
        </div>
        <div id="canvas-holder" style="float:left;">
          <center>FatalPoliceShooting</center>
        <canvas id="pie-chart3" style="width:100%;max-width:500px"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <center>
      <h3>
      <a href="https://github.com/aimeevu/project-3-group-e">Back To GitHub Repository</a>
      </h3>
    </center>
    </div>
    
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
  </script>
  <script src="../static/js/chart.js"></script>
 
 
  
</body>

</html>
